.form > .form-group {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form input {
    font-size: 1.5em;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    border: none;
    border-bottom: 3px solid black;
    width: 100%;
    display: block;
    transition: all 0.3s;
}

.form input:focus {
    outline: none;
    box-shadow: 0rem 1rem 2rem grey;
    border-bottom: 3px solid palevioletred;
}

.form textarea {
    width: 100%;
    margin-top: 20px;
    height: 250px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 3px solid black;
    padding: 1.5rem 2rem;
    transition: all 0.3s;
}

.form textarea:focus {
    outline: none;
    box-shadow: 0rem 1rem 2rem grey;
    border: 3px solid palevioletred;
}

.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
    color: darkgrey;
}

.form input:focus::-webkit-input-placeholder, .form textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

.form label {
    font-size: 1.2em;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.8rem;
    display: block;
    transition: all 0.3s;
    color: palevioletred;
    visibility: hidden;
    opacity: 0;
}

.form input:focus + label, .form textarea:focus + label {
    opacity: 1;
    visibility: visible;
    transform: translateY(1rem);
}