/* Common nav styles */
.navigation-wrapper {
    height: 180px;
    background-color: white;
    color: palevioletred;
    /* Flexbox container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
}

/* Left column styles */
.navigation-wrapper > .left-column {
    display: flex;
    align-items: center;
}

.navigation-wrapper > .left-column > .icon {
    margin-right: 15px;
}

.navigation-wrapper > .left-column > .icon i {
    font-size: 2em;
}

.navigation-wrapper > .left-column > .hours-contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.navigation-wrapper > .hours-contact > .hours {
    font-family: 'Pangolin', cursive;
}

.link-wrapper > .nav-link a {
    font-family: 'Pangolin', cursive;
    color: palevioletred;
}

/* Center column styles */
.navigation-wrapper > .center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 35px;
    width: 500px;
}

.navigation-wrapper > .center-column > .banner-image {
    display: flex;
    justify-content: center;
}

.navigation-wrapper > .center-column > .banner-image img {
    width: 230px;
    height: 100%;
}

.link-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-wrapper > .nav-link {
    width: 70px;
    text-align: center;
}

.link-wrapper > .nav-link a {
    font-family: 'Pangolin', cursive;
    color: palevioletred;
    text-decoration: none;
    transition: 0.5s;
}

.link-wrapper > .nav-link a:hover {
    color:darkgrey;
    letter-spacing: 2px;
}

/* Right column styles */
.navigation-wrapper > .right-column {
    display: flex;
    align-items: center;
}

.navigation-wrapper > .right-column > .address {
    font-family: 'Pangolin', cursive;
    text-align: right;
}

.navigation-wrapper > .right-column > .address a {
    color: palevioletred;
    text-decoration: none;
    font-size: 1em;
    transition: 0.5s;
}

.navigation-wrapper > .right-column > .address a:hover{
    color: darkgrey;
}

.navigation-wrapper > .right-column > .contact-icon {
    margin-left: 15px;
    font-size: 2em;
}

.navigation-wrapper > .right-column > .contact-icon a {
    color: palevioletred;
    transition: 0.5s;
}

.navigation-wrapper > .right-column > .contact-icon a:hover {
    color: darkgrey;
}