/* Page container styles */
.page-container {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

.page-container > .content-wrapper {
    width: 1000px;
}

.page-container > .content-wrapper > #about-us {
    width: 350px;
    margin: 15px 20px 20px 0px;
    float: left;
    border: 5px solid darkgrey;
}

.page-container > .content-wrapper p {
    line-height: 35px;
}